<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catálogo <%= catalogoBuscado[1].seccion %></title>
    <%- include("../partials/head-links") %>
    <link rel="stylesheet" href="/css/styles-sections.css">
</head>

<body>

<!-- ------------------------HEADER------------------------ -->

<%- include("../partials/header") %>

<!-- -------------------------MAIN------------------------- -->

    <main class="contenido-vista-catalogos">

        <div>&nbsp</div>

        <h3 class="titulo-de-seccion">
            <% if (catalogoBuscado[1].catalogo == "primavera-verano-2021") { %>
                Catálogo primavera-verano 2021
            <% } %>
        </h3>

        <div class="articulos">

            <% for(let i = 0 ; i < catalogoBuscado.length ; i++) { %>
            
                <article>
                    <a href="/productos/detalle/<%= catalogoBuscado[i].seccion %>/<%= catalogoBuscado[i].id %>">
                    <img src= "<%= catalogoBuscado[i].colores[0] %>" alt="">
                    <div class="descripcion-general-articulo">
                        <p class="nombre-producto"><strong><%= catalogoBuscado[i].nombre %></strong></p>
                        <p class="precio"><%= catalogoBuscado[i].precio %></p>
                        <p class="descuento"><%= catalogoBuscado[i].descuento %></p>
                        <div class="fa-truck-article"><i class="fas fa-truck"></i></div>
                    </div>
                    </a>
                </article>
                
            <% } %>

        </div>

        <%- include("../partials/main") %>

        <div>&nbsp</div>

    </main>

<!-- ------------------------FOOTER------------------------ -->

<%- include("../partials/footer") %>

</body>
</html>