<!DOCTYPE html>
<html lang="es">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalles del producto</title>
        <%- include("../partials/head-links") %>
        <link rel="stylesheet" href="/css/styles-detail.css">
</head>

<body>

<!-- ------------------------HEADER------------------------ -->

<%- include("../partials/header") %>
<div>&nbsp</div>

<!-- -------------------------MAIN------------------------- -->

<main class="contenido-vista-detalle">
    <% for(let i = 0 ; i < articuloBuscado.length ; i++) { %>

        <div class="apartado-tablet-desktop">
    
            <h3 class="titulo-de-seccion-celular"><%= articuloBuscado[i].nombre %></h3>
    
            <div class="imagen-producto">
                <img class="imagen" src= "<%= articuloBuscado[i].colores[0] %>" alt="">
            </div>
    
            <div class="apartado-tablet-desktop-sin-img">
                <div class="nombreTD-botonCG">
    
                    <h3 class="titulo-de-seccion-tablet-desktop"><%= articuloBuscado[i].nombre %></h3>
    
                    <form class="formulario-1" action="/" method="">
                        <div class="boton-guardar-producto">
                            <button type="submit" class="guardar"><i class="far fa-heart"></i></button>
                        </div>
                    </form>
    
                    <form class="formulario-2" action="/" method="">
                        <div class="boton-añadir-a-carrito">
                        <button type="submit" class="enviar"><i class="fas fa-shopping-bag"></i> Añadir</button>
                        </div>
                    </form>
    
                </div>
    
                <div>
                    <div class="precio"><%= articuloBuscado[i].precio %></div>
                </div>

                <div class="otros-colores">
                    <% for(let x = 0 ; x < articuloBuscado[i].colores.length ; x++) { %>
                    <img class="color-articulo" src= "<%= articuloBuscado[i].colores[x] %>" alt="">
                    <% } %>
                </div>
                    
                <div class="disponibilidad"><%= articuloBuscado[i].disponibilidad %></div>
    
                <div class="seleccion-y-guia-tallas">

                        <form action="/" method="">
                            <select>
                                <% for(let t = 0 ; t < articuloBuscado[i].talla.length ; t++) { %>
                                <option><%= articuloBuscado[i].talla[t] %></option>
                                <% } %>
                            </select>
                        </form>
    
                    <div><a href="/size-guide">Guía de tallas</a></div>
                </div>
    
            </div>
    
        </div>
    
        <div class="descripciones">
            <p><%= articuloBuscado[i].descripcion %></p>
            <p>Otras caracteristicas</p>
        </div>
    
        <div class="info-entrega-pago-origen">
            <a href="/information">INFORMACIÓN</a>
            <a href="/delivery-payment">ENTREGA Y PAGO</a>
            <a href="/product-origin">ORIGEN DEL PRODUCTO</a>
        </div>
        
    <% } %>
</main>

<!-- ------------------------FOOTER------------------------ -->

<div>&nbsp</div>
<%- include("../partials/footer") %>

</body> 

</html>