<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hombre: primavera-verano</title>
    <%- include("../partials/head-links") %>
    <link rel="stylesheet" href="/css/styles-men-catalog.css">
</head>

<body>

<!-- ------------------------HEADER------------------------ -->

<%- include("../partials/header") %>

<!-- -------------------------MAIN------------------------- -->

    <main>

        <div>&nbsp</div>

        <h3>Catálogo primavera-verano 2021</h3>

        <div class="articulos-mujer-catalogo">

            <% for(let i = 0 ; i < listProductsMen.length ; i++) { %>
            
                <article>
                    <a href="/catalog/men-spring-summer/product/<%= listProductsMen[i].id %>">
                    <img src= "<%= listProductsMen[i].imagen %>" alt="">
                    <div class="descripcion-general-articulo">
                        <p class="nombre-producto"><strong><%= listProductsMen[i].nombre %></strong></p>
                        <p class="precio"><%= listProductsMen[i].precio %></p>
                        <p class="descuento"><%= listProductsMen[i].descuento %></p>
                        <div class="fa-truck-article"><i class="fas fa-truck"></i></div>
                    </div>
                    </a>
                </article>
                
            <% } %>

        </div>

        <div class="secciones-importantes-main">
            <div class="seccion-importante"><a href="/novelties"><div>NOVEDADES</div></a></div>
            <div class="seccion-importante"><a href="/best-sellers"><div>LOS MÁS VENDIDOS</div></a></div>
            <div class="seccion-importante"><a href="/sales"><div>REBAJAS</div></a></div>
            <div class="seccion-importante"><a href="/the-most-wanted"><div>LO MÁS BUSCADO</div></a></div>
        </div>

        <div>&nbsp</div>

    </main>

<!-- ------------------------FOOTER------------------------ -->

<%- include("../partials/footer") %>

</body>
</html>