<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seccion <%= listaProductos[1].seccion %></title>
    <%- include("../partials/head-links") %>
    <link rel="stylesheet" href="/css/styles-sections.css">
</head>

<body>

<!-- ------------------------HEADER------------------------ -->

<%- include("../partials/header") %>

<!-- -------------------------MAIN------------------------- -->

    <main class="contenido-vista-secciones">

        <div>&nbsp</div>

        <h3 class="titulo-de-seccion">
            
            <% if (seccionURL == "mujer") { %>
                Mujeres
            <% } else if (seccionURL == "hombre") { %>
                Hombres
            <% } else if (seccionURL == "niña") {  %>
                Niñas
            <% } else if (seccionURL == "niño") {  %>
                Niños
            <% } else if (seccionURL == "bebe") {  %>
                Bebés
            <% } else if (seccionURL == "lo-mas-buscado") {  %>
                Lo más buscado
            <% } else if (seccionURL == "los-mas-vendidos") {  %>
                Los más vendidos
            <% } else if (seccionURL == "novedades") {  %>
                Novedades
            <% } %>
        </h3>

        <div class="articulos">

            <% for(let i = 0 ; i < listaProductos.length ; i++) { %>
            
                <article>
                    <a href="/productos/detalle/<%= listaProductos[i].seccion %>/<%= listaProductos[i].id %>">
                    <img src= "<%= listaProductos[i].colores[0] %>" alt="">
                    <div class="descripcion-general-articulo">
                        <p class="nombre-producto"><strong><%= listaProductos[i].nombre %></strong></p>
                        <p class="precio"><%= listaProductos[i].precio %></p>
                        <p class="descuento"><%= listaProductos[i].descuento %></p>
                        <div class="fa-truck-article"><i class="fas fa-truck"></i></div>
                    </div>
                    </a>
                </article>
                
            <% } %>

        </div>

        <%- include("../partials/main") %>

        <div>&nbsp</div>

    </main>

<!-- ------------------------FOOTER------------------------ -->

<%- include("../partials/footer") %>

</body>
</html>