<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seccion <%= listaProductos[1].seccion %></title>
    <%- include("../partials/head-links") %>
    <link rel="stylesheet" href="/css/styles-sections.css">
</head>

<body>

<!-- ------------------------HEADER------------------------ -->

<%- include("../partials/header") %>

<!-- -------------------------MAIN------------------------- -->

    <main>

        <div>&nbsp</div>

        <h3>
            <% if (listaProductos[1].seccion == "mujer") { %>
                Mujeres
            <% } else if (listaProductos[1].seccion == "hombre") { %>
                Hombres
            <% } else if (listaProductos[1].seccion == "niña") {  %>
                Niñas
            <% } else if (listaProductos[1].seccion == "niño") {  %>
                Niños
            <% } else if (listaProductos[1].seccion == "niño") {  %>
                Bebés
            <% } %>
        </h3>

        <div class="articulos-mujer-catalogo">

            <% for(let i = 0 ; i < listaProductos.length ; i++) { %>
            
                <article>
                    <a href="/productos/detalle/<%= listaProductos[i].seccion %>/<%= listaProductos[i].id %>">
                    <img src= "<%= listaProductos[i].imagen %>" alt="">
                    <div class="descripcion-general-articulo">
                        <p class="nombre-producto"><strong><%= listaProductos[i].nombre %></strong></p>
                        <p class="precio"><%= listaProductos[i].precio %></p>
                        <p class="descuento"><%= listaProductos[i].descuento %></p>
                        <div class="fa-truck-article"><i class="fas fa-truck"></i></div>
                    </div>
                    </a>
                </article>
                
            <% } %>

        </div>

        <div class="secciones-importantes-main">
            <div class="seccion-importante"><a href="/novelties"><div>NOVEDADES</div></a></div>
            <div class="seccion-importante"><a href="/best-sellers"><div>LOS MÁS VENDIDOS</div></a></div>
            <div class="seccion-importante"><a href="/sales"><div>REBAJAS</div></a></div>
            <div class="seccion-importante"><a href="/the-most-wanted"><div>LO MÁS BUSCADO</div></a></div>
        </div>

        <div>&nbsp</div>

    </main>

<!-- ------------------------FOOTER------------------------ -->

<%- include("../partials/footer") %>

</body>
</html>